@import "tailwindcss";

body {
  background-color: #f7f4f1;
  color: black;
  font-family: theme("fontFamily.sans");
}

button {
  cursor: pointer;
}

.header-nav-underline-dark {
  box-shadow: inset 0 -2px 0 0 #2d2e2e;
}

.header-nav-underline-white {
  box-shadow: inset 0 -2px 0 0 white;
}
